<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuvro.barcodescanner">


    <application
        android:allowBackup="true"
        android:icon="@drawable/bell2"
        android:label="Tinker Bell"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />




        <activity android:name=".BarcodeScannerActivity" >
            <intent-filter >

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="www.play.google.com"/>
                <data android:scheme="http"
                    android:pathPattern="/TINKERBELL.*/"/>
                <data android:scheme="https"
                android:pathPattern="/TINKERBELL.*/" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
        <activity android:name=".UserAddition"
            android:screenOrientation="portrait"/>
        <activity android:name=".BarcodescannerFORGUEST"
            android:screenOrientation="portrait"/>
        <activity android:name=".FaceTrackerActivityFORGUEST"
            android:screenOrientation="portrait"/>
        <activity android:name=".Confirmation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity android:name=".GenerateQR"
            android:screenOrientation="portrait"/>
        <activity android:name=".userQR"
            android:screenOrientation="portrait"/>
        <activity android:name=".CodeVerification"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".NumberVerification"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".Listview"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".splash"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
    </activity>

        <activity
            android:name=".FaceTrackerActivity"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".PhotoOfVisitor"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        <intent-filter >

            <action android:name="activity_1" />
            <category android:name="android.intent.category.DEFAULT" />
            <!-- note that the leading "/" is required for pathPrefix-->
        </intent-filter>
        </activity>



        <activity
            android:name=".CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <service
            android:name=".firebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".firebaseReceiveMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />



</manifest>